.search form {
	height: 30px;
  	border: 1px solid #b2b2b2;
    border-radius: 5px;
    position: relative;
}

.search input[type="text"] {
	margin-top: 3px;
	margin-left: 4px;
	height: 22px;
	border: 0 solid transparent !important;
	font-size: 1em;
	vertical-align: top;
	color: $lichtgrijs;
	background-image: url('/images/search24.png');
	background-repeat: no-repeat;
	padding-left: 30px;
	width: 83%;

	&.placeholder { //for swiftype
		color: rgba(#676761, .4);
	}

	&::-webkit-input-placeholder {
		color: rgba(#676761, .4);
	}
}

.search input[type="submit"] {
	display: block;
	position: absolute;
	height: 32px;
	border: 0 solid transparent;
	background-color: $donkergrijs; //non css3 browsers
	@include background-image(linear-gradient(#676761, #2F2F2F));
	color: white;
	padding: 0 1em;
	border-radius: 5px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	top: -1px;
	right: -3px;
	cursor: pointer;
	font-size: 1em;
}

//Search results page
.search_results {
	border-right: 1px solid #f0f0e5;
	border-bottom: 1px solid #f0f0e5;
	padding-bottom: 1.5em;

	h1 {
		margin: 0;
		font-weight: bold;
		font-size: 1.88em;
		padding: 0.67em 0 0.67em 0.67em;
		text-transform: uppercase;
	}

	form {
		margin-left: auto;
		margin-right: auto;
		width: 94%;
	}

	.swiftype {
	}

	.st-search-summary {
		border-bottom: 1px solid #f0f0e5 !important;
		margin: 0 !important;
		padding: 1.25em 0 1.25em 1.25em !important;

		h2 {
			padding: 0;
			font-size: 1em;
			color: $lichtgrijs;
		}
	}

	.st-result-listing {
		padding-bottom: 1.5em;

		h3 a {
			padding: 0.94em 0 0.94em 0;
			font-size: 1.4em;
		}
	}

	.st-result-text {
		margin-left: auto;
		margin-right: auto;
		width: 89%;
	}

	.st-result {
		border-bottom: 1px solid #f0f0e5;
	}

	.st-result.final {
		border-bottom: 1px solid #f0f0e5;
	}

	.st-pagination {
		margin-left: auto;
		margin-right: auto;
		width: 89%;
		border-top: 0 solid transparent !important;
		padding-top: 0.94em;
	}
}