/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";
@import "compass/reset";
// @import "normalize";

@import "foundation/variables";

$row-width: emCalc(1150px);
$column-gutter: emCalc(30px);

$lichtgrijs: #F0F0E5;
$middelgrijs: #676761;
$donkergrijs: #2F2F2F;
$include-html-grid-classes: false;

$small-screen: emCalc(768px);
$medium-screen: emCalc(1024px);
$large-screen: emCalc(1280px);

$screen: "only screen";
$small: "only screen and (min-width:#{$small-screen})";
$medium: "only screen and (min-width:#{$medium-screen})";
$large: "only screen and (min-width:#{$large-screen})";
$larger-then-site: "only screen and (min-width:#{$row-width+($column-gutter/2)})";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";

@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/tables";

/*http://foundation.zurb.com/docs/components/grid.html*/
/*@include grid-row;*/
/*@include grid-column(4);*/

body {
    font-family: 'Open Sans', Arial, sans-serif !important;
    color: $middelgrijs;
    background-color: #F5F5EC;
    line-height: 125%;
    background-image: image-url('line-tile.png');
    background-position: top left;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 0.3em;
    color: $middelgrijs;
    letter-spacing: -1px;
    line-height: 1.1em;
    font-weight: normal;
    margin: 0;
}

h1 {
    font-size: 1.88em;
    float: left;

    a {
        font-weight: bold;
        font-size: 2em;
    }
}

h2 {
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.75em 0 0.75em 0.75em;
    text-transform: uppercase;

    a {
        text-decoration: none;
    }

    .frontpage_posts & {
        font-size: 1.88rem;
    }
}

h3 {
    padding: 0.94em 0 0.94em 0;
    font-size: 1.3em;
}

h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.86em;
    color: $middelgrijs;
    padding-bottom: 0.8em;
}

strong {
    font-weight: bold;
}

a {
    color: $middelgrijs;
    text-decoration: underline;

    //http://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

a:hover, a:hover span {
    color: $donkergrijs;
}

p, pre {
    font-size: 0.86em;
    font-weight: normal;
    line-height: 24px;
}

p {
    padding-bottom: 10px;
}

ol li {
    list-style-type: decimal;
    list-style-position: inside;
}

ul li {
    list-style-type: none;
    background-image: image-url('footer-bullet.png');
    background-repeat: no-repeat;
    background-position: 0 8px;
    padding-left: 0.94em;
    margin: 0;
}

img {
    &.alignright {
        float: right;
        margin-right: 0;
        margin-top: 0;
    }

    &.alignleft {
        float: right;
        margin-right: 0;
        margin-top: 0;
    }

    &.aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

em {
    font-style: italic;
}

code {
    margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid #EAEAEA;
    background-color: #F8F8F8;
    border-radius: 3px;
    white-space: nowrap;
}

figure {
    margin-top: 5px;
    /* margin-bottom: 1.25em; */

    code {
        margin: 0;
        padding: 0;
        border: 0px solid transparent;
        border-radius: none;
        white-space: pre;
        background-color: transparent;
        -webkit-text-size-adjust:none; /*Do not adjust font-size in horizontal scrollable code blocks (iphone)*/
    }

    pre, table {
        /* margin-bottom: 0; */
        /* padding-bottom: 0; */
    }
}

figcaption {
    @include background-image(linear-gradient(color-stops(#FAFAFA, #EAEAEA)));
    font-size: 0.75em;
    padding: 5px 10px;
    height: 2.5em;
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}

blockquote p {
  margin-bottom: 0;
  font-style: italic;
}

.highlight {
    overflow-x: visible;

    table {
        max-width: 100%;
        width: 100%;
        table-layout: fixed;
    }

    td {
        font-family: Consolas, "Liberation Mono", Courier, monospace;
        font-size: inherit;
        padding: 8px 15px;
        line-height: 1.5em;
        vertical-align: top;
    }

    .gl {
        text-align: right;
        background-color: #ECECEC;
        border-right: 1px solid #DDD;
        color: #999;
        padding: 8px 10px;
        width: auto;
        display: block;
        float: left;

        /* Stop line numbers being visually selected */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .code {
        display: block;
        overflow-y: hidden;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

/****************************
* Body gebeuren
****************************/

header[role="banner"] {
    @include grid-row;
    padding-top: 1em; //No margin-top in connection with overlays
    margin-bottom: 1em !important;
    padding-left: $column-gutter/2;
    padding-right: $column-gutter/2;

    .title {
        @extend h1;
        font-size: 2rem;
        margin-left: 0;
        font-weight: bold;
        float: left;
        padding-bottom: 0;

        span {
            float: left;
        }
    }

    .subtitle {
        display: none;
        margin-left: 7px;
    }

    .description {
        display: none;
        font-size: 1rem;
        line-height: 1rem;
        letter-spacing: -1px;
        float: left;
        clear: both;
    }

    a {
        margin-left: 0;
        text-decoration: none;
    }

    span {
        display: block;
        margin-top: 3px;
    }

    .banner {
        display: block;
    }
}

nav {
    float: right;

    ul {
        float: right;
    }

    li {
        float: left;
        background-image: none;
        padding-left: 1.1em;
        margin-bottom: 1em;

        &.first {
            padding-left: 0;
        }

        &.first a {
            margin-left: 0;
        }
    }

    a {
        margin-left: 0.5em;
        margin-right: 0;
        font-weight: bold;
        text-decoration: none;
    }
}

.main {
    @include grid-row;
    @include box-shadow(0 0 4px rgba(0, 0, 0, 0.1));
    border: 1px solid $lichtgrijs;
    background-color: white;
}

.breadcrumbs {
    @include grid-row;
    border-bottom: 1px solid $lichtgrijs;
    text-transform: uppercase;

    a {
        font-weight: bold;
        color: $middelgrijs;
        text-decoration: none;
    }

    ul {
        padding: 1.25em 0 1.25em 1em !important;
        margin: 0;
        list-style-type: none;
        float: left !important;

        li {
            font-size: 0.86em;
            float: left;
            background-image: none;
            padding: 0;
            margin: 0;
        }
    }
}

.raquo {
    margin-left: 5px;
    margin-right: 5px;
}

.content {
    @include grid-row(collapse);

    > :first-child {
        /*@include grid-column($columns, $last-column, $center, $offset, $push, $pull, $collapse, $float);*/
        @include grid-column(12, false, false, false, false, false, true); //collapse=true
        border-right: 1px solid $lichtgrijs;
        padding: 0;
    }
}

article {
    border-bottom: 1px solid $lichtgrijs;
    padding-bottom: 1.5em;

    .entry-content {
        margin-left: auto;
        margin-right: auto;
        width: 89%;
        // overflow: auto;
        @include clearfix();

        img {
            @include box-sizing(border-box);
            // padding: 1.25em;
            padding-left: 1.25em;
            padding-right: 1.25em;
            max-width: 100%;
        }
    }

    p {
        word-wrap: break-word;
    }

    ul, ol {
        font-size: 0.86em;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    li {
        p {
            padding-bottom: 5px;
        }
    }

    .meta {
        font-style: italic;
        font-size: 0.88em;
        padding-bottom: 4px;
        @include clearfix();

        .prev {
            float: left;
            text-align: left;
        }

        .next {
            float: right;
            text-align: right;
        }
    }

    .banner img {
        margin: 0;
        margin-bottom: 1.25em;
    }

    h1 {
        margin: 0;
        font-weight: bold;
        font-size: 1.88em;
        padding: 0.67em 0 0.67em 0.67em;
        text-transform: uppercase;
        width: 100%;
    }

    h2 {
        padding: 0.67em 0 0.67em 0.67em;
    }

    header {
        margin: 0 !important;
        padding-top: 0;

        .meta {
            margin-left: auto;
            margin-right: auto;
            width: 89%;
            color: #C0C0B5;

            a {
                color: #C0C0B5;
                margin-right: 0;
            }

            a:hover {
                color: #9E9E97;
            }
        }
    }

    h2 {
        margin: 0;
    }

    header span {
        display: inline;
    }

    footer {
        margin-left: auto;
        margin-right: auto;
        width: 89%;
    }

    article[role="article"] footer {
        border-top: 1px solid $lichtgrijs;
    }
}

.readmore {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.86em;
    color: $middelgrijs;
    display: block;
    text-decoration: none;

    :hover {
        text-decoration: none;
        color: #111;
    }
}

aside {
    display: none;
    padding-top: 2em;
    padding-left: $column-gutter;
    padding-left: $column-gutter;

    section {
        margin-bottom: 2em;
        margin-right: 2em;
        margin-left: 1em;
    }

    a {
        text-decoration: none;
    }

    li {
        padding-bottom: 0.5em;
    }
}

footer {
    @include grid-row();
    text-align: right;
    padding-top: 0.94em;

    p {
        font-size: 0.81em; //13px
    }
}

.blog_categories, .blog_archive {
    border-right: 1px solid $lichtgrijs;
    border-bottom: 1px solid $lichtgrijs;
    margin-bottom: 1.5em;

    h1 {
        margin: 0;
        font-weight: bold;
        font-size: 1.88em;
        padding: 0.67em 0 0.67em 0.67em;
        text-transform: uppercase;
    }

    h2 {
        position: absolute;
    }

    h3 {
        padding: 0;
    }

    ul {
        margin-left: auto;
        margin-right: auto;
        width: 89%;
    }

    li {
        background-image: none;

        &.last article {
            border-bottom: 0;
        }
    }

    div.year {
        @include grid-row(nest);
        margin-left: 6em;
    }

    article {
        @include grid-row(nest);
        padding-top: 2em;
        padding-bottom: 1.25em;
    }

    time {
        @include grid-column(2);
    }

    h3 {
        /*@include grid-column($columns, $last-column, $center, $offset, $push, $pull, $collapse, $float);*/
        @include grid-column(10, false, false, false, false, false, true);
    }

    footer {
        /*@include grid-column($columns, $last-column, $center, $offset, $push, $pull, $collapse, $float);*/
        @include grid-column(10, false, false, 2, false, false, true);
        text-align: left;
        float: left;
        padding-top: 0;
        border-top: 0 solid transparent;
    }
}

.pagination {
    text-align: right;
    padding-right: 5.5%;
    padding-top: 2em;
    padding-bottom: 2em;
    border-right: 1px solid $lichtgrijs;

    .pages {
        text-transform: uppercase;
        font-size: 0.86em;
        font-weight: bold;
    }

    .prev {
        margin-left: 0;
        margin-right: 1.25em;
    }

    .next {
        margin-right: 0;
        margin-left: 1.25em;
    }
}

section.comments {
    padding-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    width: 89%;

    h1 {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.88em; //30px
    }

    li {
        background-image: none;
    }
}

.footer-page {
    padding-left: $column-gutter/2;
    padding-right: $column-gutter/2;

    ul {
        width: 100%;
        float: right;
    }

    li {
        float: right;
        background-image: none;
    }
}

@import "partials/post_detail";
@import "partials/github";
@import "partials/search";
@import "partials/responsiveness";
@import "partials/coderwall";
@import "vendor/magnific-popup";
