<div class="row breadcrumbs">
<ul class="twelve columns">
	<% breadcrumbs.each do |breadcrumb| %>
  	<li><%= breadcrumb %></li>
  	
  	<% if breadcrumb != breadcrumbs.last %>
  	<li><span class="raquo">»</span></li>
  	<% end %>
  	
  <% end %>
</ul>
</div>
