<div class="row breadcrumbs">
<ul class="span12">
  <li><a href="/">Home</a></li>
  <% if current_page.data.title and current_page.url != '/' %>
  <li><span class="raquo">»</span></li>
  <li><%= current_page.data.title %></li>
  <% end %>
</ul>
</div>
