<h1 class="span7 title">
<a href="/" title="<%= settings.title %>">
	<%= settings.title %>
	<span class="subtitle hidden-phone"><%= settings.subtitle %></span>
</a>
<span class="hidden-phone"><%= settings.description %><span>
</h1>
<nav role="navigation" class="span5">
	<ul class="main-navigation">
	  <li><a href="/">Home</a></li>
	  <li><a href="/about">About</a></li>
	  <li><a href="/blog/archives">Archives</a></li>
	  <li><a href="{{ site.subscribe_rss }}" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
	</ul>
</nav>
