<div class="twelve columns">
	<h1 class="title">
		<a href="/" title="<%= settings.title %>">
			<%=h settings.title %>
			<span class="subtitle hide-on-phones"><%=h settings.subtitle %></span>
		</a>
		<span class="hide-on-phones"><%=h settings.description %><span>
	</h1>
	<nav role="navigation">
		<ul class="main-navigation">
		  <li class="first"><a href="/">Home</a></li>
		  <li><a href="/about">About</a></li>
		  <li><a href="/archives">Archives</a></li>
		  <li class="last"><a href="/feed.rss" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
		</ul>
	</nav>
</div>
