ErrorDocument 404 /404/
AddEncoding gzip gz

<FilesMatch "\.js\.gz$">
    ForceType text/javascript
    Header set Content-Encoding: gzip
</FilesMatch>

<FilesMatch "\.css\.gz$">
    ForceType text/css
    Header set Content-Encoding: gzip
</FilesMatch>

<FilesMatch "\.html\.gz$">
    ForceType text/html
    Header set Content-Encoding: gzip
</FilesMatch>

RewriteEngine on
RewriteCond %{HTTP:Accept-encoding} gzip
RewriteCond %{HTTP_USER_AGENT} !Konqueror
RewriteCond %{REQUEST_FILENAME}.gz -f
RewriteRule ^(.*)\.css$ $1.css.gz [QSA,L]
RewriteRule ^(.*)\.js$ $1.js.gz [QSA,L]
RewriteRule ^feed/?$ /feed.rss [QSA,L]