ErrorDocument 404 /404/
AddEncoding gzip gz
Header set X-UA-Compatible "IE=edge;chrome=1"

<FilesMatch "\.js\.gz$">
    ForceType text/javascript
    Header set Content-Encoding: gzip
</FilesMatch>

<FilesMatch "\.css\.gz$">
    ForceType text/css
    Header set Content-Encoding: gzip
</FilesMatch>

<FilesMatch "\.html\.gz$">
    ForceType text/html
    Header set Content-Encoding: gzip
</FilesMatch>

<FilesMatch "\.xml\.gz$">
    ForceType application/xml
    Header set Content-Encoding: gzip
</FilesMatch>

RewriteEngine on

RewriteRule ^feed/?$ /feed.rss [QSA,L]

RewriteCond %{HTTP:Accept-encoding} gzip
RewriteCond %{HTTP_USER_AGENT} !Konqueror
# RewriteCond %{REQUEST_METHOD} !^HEAD$
RewriteCond %{REQUEST_FILENAME}.gz -f
RewriteRule ^(.*)\.css$ $1.css.gz [QSA,L]
RewriteRule ^(.*)\.js$ $1.js.gz [QSA,L]
RewriteRule ^(.*)\.xml$ $1.xml.gz [QSA,L]

<FilesMatch "^latest\.json$">
Header Add Access-Control-Allow-Origin "*"
</FilesMatch>

#### CACHING ####
ExpiresActive On
# Default: 1 HOUR
ExpiresDefault A3600        

# 1 MONTH
<FilesMatch "\.(ico|gif|jpe?g|png|flv|pdf|swf|mov|mp3|wmv|ppt)$">
ExpiresDefault A2419200
Header append Cache-Control "public"
</FilesMatch>

# 3 DAYS
<FilesMatch "\.(xml|txt|html|htm|js|css)$">
ExpiresDefault A259200
Header append Cache-Control "private, must-revalidate"
</FilesMatch>

# NEVER CACHE
<FilesMatch "\.(php|cgi|pl)$">
ExpiresDefault A0
Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
Header set Pragma "no-cache"
</FilesMatch>