---
layout: default
title: "404: page not found"
date: 2013-02-9 13:10
comments: false
sharing: false
footer: true
---
<article>
  <h1 class="entry-title"><%= current_page.data['title'] %></h1>
  <div class="entry-content">
    <p>We couldn't find what you were looking for. <a href="/">Go to the homepage instead</a>.</p>
    <img class="aligncenter" src="/images/uploads/2013/02/meme-angry.jpg" alt="404 meme">
  </div>
</article>
