---
title: Archives
description: What I've written about in the past
---
<% breadcrumbs.unshift 'Blog Archive' %>

<section class="blog_archive">
  <h1>Blog archive</h1>
  <%= partial 'partials/articles_list_by_year', :locals => { :articles => blog.articles } %>
</section>

<%= partial "partials/aside" %>
