<% breadcrumbs.unshift 'Blog Archive' %>

<div class="eight columns">
  <section class="blog_archive">
  	<%= partial 'partials/articles_list_by_year', :locals => { :articles => blog.articles } %>
	</section>
</div>
<%= partial "partials/aside" %>