---
layout: default
title: "Search results"
date: 2013-02-16 22:09
comments: true
sharing: true
footer: true
---
<div id="st-results-container" class="eight columns">
  <section class="search_results">
  </section>
</div>

<%= partial "partials/aside" %>