---
layout: default
title: "Search results"
date: 2013-02-16 22:09
comments: true
sharing: true
footer: true
---
<section class="search_results">
  <h1>Search Results</h1>
  <div class="search">
    <form>
      <input type="text" id="st-search-input" class="st-search-input" placeholder="e.g. Python" />
      <input type="submit" value="Search">
    </form>
  </div>

  <div id="st-no-results">Helaas, geen zoekresultaten. Probeer het anders eens met een andere zoekterm!</div>

  <div id="st-results-container">
  </div>
</section>

<%= partial "partials/aside" %>
